<!DOCTYPE html>
<html>
<head>
	<title>IMDB-SearchApp</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/index.css">
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<nav>
<form action="/search" method="GET">
    <input type="text" placeholder="Find Movies, Tv Shows,and more ..." name="search">
    <button> Search </button> 
</form>

</nav>