<link rel="stylesheet" type="text/css" href="../css/index.css" />
<div class="container">
<div id='search'> 

<h1>Search For A Movie/TV Show</h1>

<form action="/search" method="GET">
    <input type="text" placeholder="Find Movies, Tv Shows,and more ..." name="search">
    <button> Search </button> 
</form>

</div>
</div>