<link rel="stylesheet" type="text/css" href="../css/index.css" />
<div> 

<h1>Search for a movie</h1>

<form action="/search" method="GET">
    <input type="text" placeholder="Find Movies, Tv Shows,and more ..." name="search">
    <button> Submit </button> 
</form>

</div>