
div{
	margin:auto;
	width: 100%;
	height: 100%;
	text-align:center;
	padding-top:10%;
}



form input  {
	height:19px;
	padding: 5px 8px;
	vertical-align: middle;
	width:419px;
}


table{
	width: 900px;
}
tr:nth-child(2n){
background-color:red;

}



